apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: collector-data-pvc
  labels:
    app: collector
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: 50Gi
