apiVersion: apps/v1
kind: Deployment
metadata:
  name: authen
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authen
  template:
    metadata:
      labels:
        app: authen
    spec:
      containers:
      - name: authen
        image: hao1706/authen:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"