apiVersion: v1
kind: Service
metadata:
  name: ml-autoscaler
  labels:
    app: ml-autoscaler
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: ml-autoscaler
