apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: order-scaledobject
spec:
  scaleTargetRef:
    name: order
  minReplicaCount: 1
  maxReplicaCount: 5
  pollingInterval: 15
  cooldownPeriod: 60
  
  advanced:
    horizontalPodAutoscalerConfig:
      behavior:
        scaleUp:
          stabilizationWindowSeconds: 60
          policies:
          - type: Pods
            value: 1
            periodSeconds: 60
          selectPolicy: Max
        scaleDown:
          stabilizationWindowSeconds: 300
          policies:
          - type: Percent
            value: 50
            periodSeconds: 60
          selectPolicy: Min
  
  triggers:
    - type: cpu
      metricType: Utilization
      metadata:
        value: "65"
    
    - type: memory
      metricType: Utilization
      metadata:
        value: "70"
    
    - type: prometheus
      metadata:
        serverAddress: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
        metricName: http_requests_rate
        query: |
          sum(rate(nginx_ingress_controller_requests{exported_namespace="ballandbeer",service="order"}[1m]))
        threshold: "10"
