apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: booking
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/haihhdev/ballandbeer
    targetRevision: master
    path: ops/k8s/booking/overlays/dev
  destination:
    server: https://kubernetes.default.svc
    namespace: ballandbeer
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas 