pandas==2.3.0
pymongo==4.13.1
fastapi==0.115.12
uvicorn==0.34.3
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-recommenders==0.7.3
hvac==2.3.0
kubernetes==33.1.0
python-dotenv==1.1.0
boto3==1.26.137